@font-face {
  font-family: "MTS Compcat";
  font-style: normal;
  font-weight: 700;
  src: local("MTS Compcat"),
       url("../fonts/MTSCompact-Medium.woff2") format("woff2"),
       url("../fonts/MTSCompact-Medium.woff") format("woff");
}

body {
  font-family: "MTS Compcat", "Arial", sans-serif;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.container {
  padding: 2vw;
  position: relative;
  width: 70vw;
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 3vh;
  min-height: 50vh;
  border-radius: 15px;
}

.title {
  margin: 0 auto;
  width: 432px;
  font-size: 30px;
  margin-bottom: 30px;
}

.text {
  color: rgb(141, 0, 149);
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  margin-bottom: 20px;
}

.author {
  color: red;
  font-size: 25px;
  font-style: italic;
  text-align: right;
}

.img {
  position: fixed;
  width: 100vw;
  height: 105dvh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .title {
    width: 375px;
    font-size: 26px;
  }
  
  .text {
    font-size: 24px;
  }

  .author {
    bottom: 20px;
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .title {
    width: 195px;
    text-align: center;
    font-size: 18px;
  }

  .text {
    font-size: 16px;
  }

  .author {
    font-size: 16px;
  }
}