@font-face {
  font-family: "MTS Compcat";
  font-style: normal;
  font-weight: 700;
  src: local("MTS Compcat"),
       url("../fonts/MTSCompact-Medium.woff2") format("woff2"),
       url("../fonts/MTSCompact-Medium.woff") format("woff");
}

body {
  font-family: "MTS Compcat", "Arial", sans-serif;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.container {
  padding: 2vw;
  position: relative;
  width: 70vw;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

.text {
  color: rgb(141, 0, 149);
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
}

.author {
  position: absolute;
  color: rgb(255, 0, 0);
  right: 5vw;
  bottom: 30px;
  font-size: 25px;
  font-style: italic;
}

.img {
  position: fixed;
  width: 100vw;
  height: 105dvh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .text {
    font-size: 24px;
  }

  .author {
    bottom: 20px;
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .text {
    font-size: 20px;
  }

  .author {
    font-size: 18px;
  }
}